.mask {
   position: absolute;
  inset: 0;
  z-index: 0;
    
}

.intro-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
}

.hero {
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 2;
}

.hero .content h1 {
    font-size: 2rem;
    padding: 0.1rem 0 1rem;
}

.hero .content p {
    font-size: 1rem;
    font-weight: 200;
}

.content .btn {
    margin: 1rem 0.4rem;
}

@media screen and (max-width: 640px) {
    .hero .content h1 {
    font-size: 3rem;
  }

.hero .content p {
    font-size: 1rem;
  }
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero > .carousel-wrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}