.skills-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.skills-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}


.skills-card {
    background: #1a1919;
    padding: 1.2rem 1rem;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.skills-title {
    color: #fff;
    padding: 1rem 0;
}

.skills-details p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.skills-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.skills-list-item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #ccc;
}


@media screen and (max-width: 740px) {
    .skills-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}

